<div class="float-right">
  <button type="button" class="btn btn-primary" (click)="openModal('customer')">+ Add Customer</button>
  <button type="button" class="btn btn-primary" (click)="openModal('pin')">+ Add Pin</button>

</div>

<div class="clearfix"></div>
<h4>List of Pins</h4>
<div class="table-responsive">          
  <table class="table table-bordered">
    <thead class="table-primary">
      <tr>
        <th>Title</th>
        <th>Image</th>
        <th>Collaboratory</th>
        <th>Privacy</th>
      </tr>
    </thead>
    <tbody *ngIf="finalData.length > 0">
        <tr *ngFor="let data of finalData">
          <td>Pin - {{data.title}}</td> 
          <td><img [src]=data.image></td> 
          <td>{{data.collaboratory}}</td> 
          <td>{{data.privacy}}</td> 
        </tr>
    </tbody>
  </table>
  <div class="noresults" *ngIf="finalData.length == 0">
    No results to display , plese add at "Add pin" and "Add Customer"
</div>
  </div>