.float-right {
  float: right;
  margin-bottom: 30px;
}

.float-right button:first-child {
  margin-right: 20px;
}

table {
  margin-bottom: 0px;
}
.noresults {
  text-align: center;
  background: #ddf0f4;
  padding: 30px;
}
